body {
  text-align: center;
  font-family: "Verdana";
  background-image: url(images/squirl.jpg);
  background-size: cover;
  color: black;
}

.titulo {
	font-size: 70px;
	padding-top: 200px;
	text-shadow: 5px 5px 15px #1f1f14;
	color: #ffff00;
}

p{
	font-size: 30px;
	text-shadow: 5px 5px 15px #1f1f14;
	color: black;
}

.botao{
	text-decoration: none;
	background-color: rgb(204,0,0,0.7);
	color: white;
	font-size: 30px;
	padding: 10px 15px 10px 15px;
	border-radius: 4px;
}

.botao:hover {
	background-color: #ffff66;
	color: black;
}

.lista {
	list-style: none;
	padding-left: 0;
	margin-top: 150px;
	letter-spacing: .5rem;
}

.lista li{
	display: inline;
}

.lista a{
	color: black;
}
